<div class="titulo1" style="text-align: center; padding-bottom: 30px;">
<h1>Mis Proyectos</h1>
 </div> 

    <% @pins.each do |pin| %>
        <div class="col-md-3">
            <div class="thumbnail">
            <div class="titulo" style="text-align: center;">
            <h2><%= pin.titulo %> </h2>
          </div>
          <%= image_tag(pin.photo, :class => 'img-responsive') %>
          <div class="descripcion" style="text-align: center;">
          <%= pin.description %>
        </div>
          <div class="buttons" style="margin-top:10px; margin-bottom:10px; text-align: center;">
        <% if user_signed_in? %>
          <%= link_to 'Show', pin, :class => 'btn' %>
          <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        <% end -%>
      </div>
    </div>
  </div>
    <% end %>
  


<br>
  <% if user_signed_in? %>
    <%= link_to 'New Pin', new_pin_path %>
  <% end %>