<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3"></div>
        <div class="show" style="border-style: dotted; text-align: center;">
        <h2>
          <strong>Titulo:</strong>
          <%= @pin.titulo %>
          </h2>
        <p>
          <strong> </strong>
          <%= image_tag(@pin.photo) %>
        </p>
    <p>
      <strong>Descripción</strong>
      <%= @pin.description %>
    </p>    
     <%- @pin.fases.each do |fase| %>
     <div class="fase" style="border-style:double"> 
      <strong>Titulo Fase</strong>
      <h4><%= fase.titulo %> </h4>
      <strong>Descripcion Fase</strong> 
      <h5> <%= fase.descripcion %> </h5>
    </div>
      <% end -%>
  <% if user_signed_in? %>
 <div button type="button" class="btn btn-warning btn-lg" style="padding: 10px; ">
<%= link_to 'Editar', edit_pin_path(@pin) %> |
<%= link_to 'New Fase', newfase_path(@pin) %> |

<% end -%>
<%= link_to 'Atras', pins_path %> |
</div>
 
