<p id="notice"><%= notice %></p>
    <p>
      <strong>Titulo:</strong>
      <%= @pin.titulo %>
    </p>

    <p>
      <strong> </strong>
      <%= image_tag(@pin.photo) %>
    </p>

    <p>
      <strong>Descripción</strong>
      <%= @pin.description %>
    </p>


   
      <p>
        <strong>Nombre Fase:</strong>
        <%= @pin.fases %>
      </p>

      <p> 
        <strong></strong>
        <%= image_tag@pin.photo2 %>
      </p>
  
  <% if user_signed_in? %>
<%= link_to 'Editar', edit_pin_path(@pin) %> |
<% end -%>
<%= link_to 'Atras', pins_path %> |
 
 
