<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Fases</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="<%=root_path %>">Home<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav navbar-nav navbar-right">
      <% if current_user.nil? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%=new_user_session_path %>">Ingreso<span class="sr-only">(current)</span></a>
           <li class="nav-item active">
          <a class="nav-link" href="<%=new_user_registration_path %>">Registro<span class="sr-only">(current)</span></a>  
          <li class="nav-item active">
          <a class="nav-link" href="<%=pins_path %>">Ver Proyectos<span class="sr-only">(current)</span></a>     
          <% else %>
          <li class="nav-item active">
          <a class="nav-link" href="<%=new_pin_path %>">Crear Proyecto<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
          <a class="nav-link" href="<%=pins_path %>">Ver Proyectos<span class="sr-only">(current)</span></a>
           <li class="nav-item active">
          <a class="nav-link" href="<%=destroy_user_session_path %>" data-method="delete" >Salir <span class="sr-only">(current)</span></a>
        <% end %>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     <body>
    <%= yield %>
  </body>
</div>
</html>
